.navbar {
  background-color: #e5faf8;
}

img {
  display: block;
  max-width:300px;
  max-height:80px;
  width: auto;
  height: auto;
}

section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-form {
  margin-top: 30px;
  margin-bottom: 30px;
}
